body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.camera-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.camera-box {
  border: 3px solid #000; /* Change the border color as needed */
  padding: 10px;
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Adjust the max-width as needed */
  margin: 20px;
  display: flex;
  justify-content: center;
}
